[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

*/packages/
!**/packages/build/
!/packages/Rider/
!/packages/ReSharper/

**/runtimes/

*.suo
*.user
*.userprefs
*.ncb
*.pdb
*.obj
*.aps

*.sln.docstates
.vshost.

*.db
*.sqlite
*.sqlite3

TestResults/
coverlet/
.vs/
*.log
*.bak
*.orig

wwwroot/lib/
